<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Acercamiento Basquet La Emilia</title>
        <meta name="description" content="Acercamiento Basquet La Emilia">
        <meta name="keywords" content="Acercamiento Basquet La Emilia">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="icon" href="/img/favicon.ico">
    </head>
    
    <body class="index-page">
        <div class="container">
            <div class="jumbotron jumbotron-fluid bg-white text-center">
                <img src="/img/logo.png" alt="Typrex" class="img-fluid mb-4">
                <h4 class="lead font-weight-bold mb-4">Bienvenido! Sitio en Construccion</h4>
                <footer>© Copyright 2025 - LE Devs</footer>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script> 
</html>